In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import r2_score

In [114]:
def scores(path_to_data, df_name="labeled_data"):
    """
    only for the dataset
    """
    df = pd.read_csv(path_to_data)

    y_true = df[['counted_num']]
    y_pred = df[['detected_num']]

    label(df, "counted_num", "label_counted")
    label(df, "detected_num", "label_detected")
    issame(df)

    y_true_label = df[['label_counted']]
    y_pred_label = df[['label_detected']]

    accuracy_label = accuracy_score(y_true_label, y_pred_label)
    precision_label = precision_score(
        y_true_label, y_pred_label, average="micro")
    recall_label = recall_score(y_true_label, y_pred_label, average="micro")
    f1_label = f1_score(y_true_label, y_pred_label, average="micro")

    r2 = r2_score(y_true, y_pred)
    accuracy = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred, average="micro")
    recall = recall_score(y_true, y_pred, average="micro")
    f1 = f1_score(y_true, y_pred, average="micro")

    accuracy_same = len(df[df['label_same'] == 'same']) / len(df)

    scores = []
    score = [
        path_to_data, accuracy, f1, precision, recall, r2, accuracy_label,
        f1_label, precision_label, recall_label, accuracy_same
    ]
    scores.append(score)
    scores = pd.DataFrame(
        np.array(scores),
        columns=[
            'path_to_data', 'accuracy', 'f1_score', 'precision_score',
            'recall_score', 'r2_score', 'accuracy_with_label', 'f1_with_label',
            'precision_with_label', 'recall_with_label', 'accuracy_with_bool'
        ])
    display(scores.head())

    display(df.head())
    df.to_csv(path_or_buf=os.path.join(os.getcwd(), "%s.csv"%df_name))
    return scores

In [115]:
def label(df,target_fearure,label_name):
    df_label = df[target_fearure]
    label = pd.Series([])
    for j in range(len(df)):
#         print(len(df))
        if df_label[j] <= 5:
            label[j] = "0 - 5"
        elif df_label[j] > 5 and df_label[j] <= 10:
            label[j] = "6 - 10"
        elif df_label[j] > 10 and df_label[j] <= 15:
            label[j] = "11 - 15"
        elif df_label[j] > 15 and df_label[j] <= 20:
            label[j] = "16 - 20"
        elif df_label[j] > 20 and df_label[j] <= 25:
            label[j] = "21 - 25"
        elif df_label[j] > 25 and df_label[j] < 30:
            label[j] = "26 - 29"
        else:
            label[j] = "> 30"
    df.insert(df.shape[1],label_name,label)
    return df

In [116]:
def issame(df):
    """
    if the difference between the truth and predicted smaller than 5, we assume they are the same.
    """
    same = pd.Series([])
    for j in range(len(df)):
        if np.abs(df.iloc[j,2] - df.iloc[j,4]) <= 5:
            same[j] = "same"
        else:
            same[j] = "not same"

    df.insert(df.shape[1], "label_same", same) 
    return df

In [117]:
s1 = scores(".\Dublin_day_counted.csv","labeled_dublin_day")

,path_to_data,accuracy,f1_score,precision_score,recall_score,r2_score,accuracy_with_label,f1_with_label,precision_with_label,recall_with_label,accuracy_with_bool
0,.\Dublin_day_counted.csv,0.17,0.17,0.17,0.17,0.3460979783508439,0.42,0.41999999999999993,0.42,0.42,0.56

,Unnamed: 0,image_name,detected_num,time,counted_num,label_counted,label_detected,label_same
0,0,Dublin_day0.png,1,Sat 2018-12-15 10:03:07,2,0 - 5,0 - 5,same
1,1,Dublin_day1.png,2,Sat 2018-12-15 10:06:16,3,0 - 5,0 - 5,same
2,2,Dublin_day2.png,1,Sat 2018-12-15 10:09:22,1,0 - 5,0 - 5,same
3,3,Dublin_day3.png,0,Sat 2018-12-15 10:12:29,2,0 - 5,0 - 5,same
4,4,Dublin_day4.png,3,Sat 2018-12-15 10:15:34,6,6 - 10,0 - 5,same

In [118]:
s2 = scores(".\Dublin_night_counted.csv","labeled_dublin_night")

,path_to_data,accuracy,f1_score,precision_score,recall_score,r2_score,accuracy_with_label,f1_with_label,precision_with_label,recall_with_label,accuracy_with_bool
0,.\Dublin_night_counted.csv,0.0,0.0,0.0,0.0,-1.1623815924270295,0.1,0.10000000000000002,0.1,0.1,0.39

,Unnamed: 0,image_name,detected_num,time,counted_num,label_counted,label_detected,label_same
0,0,Dublin_night0.png,8,Fri 2018-12-14 20:11:49,42,> 30,6 - 10,not same
1,1,Dublin_night1.png,15,Fri 2018-12-14 20:15:01,38,> 30,11 - 15,not same
2,2,Dublin_night2.png,19,Fri 2018-12-14 20:18:11,30,> 30,16 - 20,not same
3,3,Dublin_night3.png,16,Fri 2018-12-14 20:21:22,36,> 30,16 - 20,not same
4,4,Dublin_night4.png,15,Fri 2018-12-14 20:24:29,32,> 30,11 - 15,not same

In [119]:
s = s1.append(s2)

In [120]:
s

,path_to_data,accuracy,f1_score,precision_score,recall_score,r2_score,accuracy_with_label,f1_with_label,precision_with_label,recall_with_label,accuracy_with_bool
0,.\Dublin_day_counted.csv,0.17,0.17,0.17,0.17,0.3460979783508439,0.42,0.41999999999999993,0.42,0.42,0.56
0,.\Dublin_night_counted.csv,0.0,0.0,0.0,0.0,-1.1623815924270295,0.1,0.10000000000000002,0.1,0.1,0.39

In [121]:
s.to_csv(path_or_buf=os.path.join(os.getcwd(), "dublin_scores.csv"))